.body {
  text-align: center;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

/* .navbar-toggler {
  background-color: transparent;
}

.toggle-button {
  background-color: ;
} */

.title-image {
  width: 100%;
  height: 550px;
}

.navback {
  background-color: #f14668;
}

.navitem {
  color: #fff;
  font-weight: bold;
}

.navitem:hover {
  color: black;
}

.heading {
  color: #f14668;
  font-family: "Montserrat-Bold";
  font-size: 4.0rem;
  text-align: center;
  margin: 25% 3%;
}

#social-network {
  background-color: #fff;
  text-align: center;
  padding: 3% 5%;
}

.footer-image {
  margin: 20px 10px;
  color: #f14668;
}

.copyright {
  color: #f14668;
}

#food-quotes {
  background-color: #f14668;
  text-align: center;
}

.about-note {
  color: #fff;
  font-family: "Montserrat-black";
  font-size: 2.5rem;
  text-align: center;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.author {
  color: #fff;
  font: "Cursive";
  font-size: 1.5rem;
  text-align: center;
  padding-top: 7%;
}

.quotes {
  color: #fff;
  font-family: "Montserrat-black";
  font-size: 2.5rem;
  line-height: 1.5;
  margin-top: 3%;
  padding-bottom: 7%;
}

.carousel-item {
  padding: 7% 15%;
}

.slide-image {
  width: 100%;
  height: 420px;
}

#food-knowledge {
  color: #f14668;
  text-align: center;
}

.healthy-title {
  color:  #f14668;
  /* text-align: center; */
  font-family: "Montserrat-black";
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 5% 15% 3%;
}

.category-text {
  color: #eb596e;
  font-size: 1.2rem;
}

.cat-icon {
  margin-bottom: 2rem;
}

.cat-icon:hover {
  color: #e40017;
}

.category-title {
  font-size: 1.5rem;
}

.category-text {
  padding: 1% 15% 15%;
}

#card-recipe {
  background-color: #f14668;
  text-align: center;
  font-family: "Montserrat-black";
}

.card-section-header {
  color: #fff;
  padding: 3% 7% 0;
}

.card-column {
  padding: 10% 3%;
}

.card-button {
  background-color: #f14668;
  border: #f14668;
  margin-top: 8%;
}

.card-button:hover {
  background-color: #e40017;
}

.card-image {
  width: 100%;
  height: 200px;
}

.card-head {
  color: #f14668;
}

.tips-line {
  padding: 1% 5% 10%;
  text-align: left;
}

.Tips-title {
  margin-right: 5%;
}

.title-button {
  background-color: #f14668;
  color: #fff;
  text-align: center;
}

.title-button:hover {
  color: #fff;
}

.tips-button {
  margin-top: 6%;
}
